/*----------elements-------------- */
*{
    margin: 0;
    padding: 0;
    border-color: #87a3a6;
    color: hsl(187, 24%, 22%);
    font-weight: 500;
    font-family: Karla, sans-serif;
    font-size: 16px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color:#dff1e7;
     flex-direction: column;
    
}
h1{
    font-weight: 700;
    font-size: xx-large;
}
button{
    background-color: hsl(169, 82%, 27%);
    border-color: none;
    color: hsl(0, 0%, 100%);
    display: block;
    width: 100%;
    padding:20px 0;
    border-radius: 8px;
}
label{
    margin: 5px 0;
}
form{
    display:flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
}

input[type=text], input[type=email]{
    padding: 15px 20px !important;
    border-radius: 8px;
    border: 1px solid #87a3a6;

}
input[type="radio"] {
    position: absolute;
    left:10%;
    height: 20px;
    width: 20px;
    accent-color: #0c7d69;

}
input[type="checkbox"]{
    height:17px;
    width: 17px;
    margin: 0 10px;
    accent-color: #0c7d69;
}

/* --------snippets ------------*/
.flexcol{
    display: flex;
    flex-direction: column;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.spacing{
    margin-top: 20px;
}

/*-------- Name and Query-------- */
.fullname, .querycheckbox{
    width: 100%;
    justify-content: space-between;
}
.name, .querybox{
    width: 49%;
    box-sizing: border-box;
}
/* -------Query------ */
.querybox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
label[for=general_enquiry], label[for=support_request]{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid  #87a3a6;
    border-radius: 8px;
    justify-content: center;
    padding-left: 40px;

}



/* Message  */

#message{
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
}
textarea{
    resize: none;
}
b{
    color: hsl(169, 82%, 27%);
}

/*              footer`              */
.attribution { font-size: 11px; text-align: center; display: block;}
.attribution a { color: hsl(228, 45%, 44%); }


/*           mobile              */
@media (max-width: 400px ) {
    .container{
        margin: 20px;
    }
    form{
        padding: 20px;
        width: 80%;
    }
   
    .mobileflex{
        flex-direction: column;
    }
    .name, .querybox{
        width: 100%;
    }
    textarea{
        height: 150px;
    }
    
}

        /* focus, active, hover & checked state */
input:focus, input:hover, button:hover, input:active, label[for=general_enquiry]:hover,  label[for=support_request]:hover, #message:focus, #message:hover, #message:active{
    border: 2.8px solid #0c7d6884;
    cursor: pointer;
    outline: none;
}
label:hover{
    cursor: pointer;
}

input[type="radio"]:checked ~ label{
    background-color: #28d67635;
    border: 2px solid #0c7d6884;
}

